

#sidebar {
    margin: 0px;
    background-color: grey;
    width: 10%;
    height: 100%;
    float: left;
}
#arena {
    margin: 0px;
    background-color: green;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

#player {
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 90px;
    background-image: url("../img/player-sprite.png");
    background-position: 50px 0px;

    /* make it invisible at the beginning */
    top: -200px;
    left: -200px;
}

#food-pot {
    position: absolute;
    z-index: 4;
    width: 70px;
    height: 70px;
    background-image: url("../img/food-pot-sprite.png");
    background-position: 0px 0px;

    /* make it invisible at the beginning */
    top: -200px;
    left: -200px;
}